<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
    <extension
          id="birt_all_in_one"
          point="org.eclipse.core.runtime.products">
       <product
             application="org.eclipse.ui.ide.workbench"
             name="СБСОФТ Дизайнер">
          <property
                name="windowImages"
                value="images/p16.png,images/p32.png,images/p48.png,images/p64.png,images/p128.png,images/p256.png">
          </property>
          <property
                name="aboutText"
                value="СБСОФТ Дизайнер: Инструмент создания отчетов для бизнес-аналитики&#x0A;&#x0A;С помощью СБСОФТ дизайнера  вы можете создавать визуализации данных, информационные панели и отчеты&#x0A;&#x0A;&#x0A;СБСОФТ Дизайнер построен на базе open source проекта BIRT&#x0A;&#x0A;- Website https://sbsoft.ru&#x0A;- Source: https://github.com/eclipse-birt/birt">
          </property>
          <property
                name="aboutImage"
                value="images/about.png">
          </property>
          <property
                name="appName"
                value="СБСОФТ Дизайнер">
          </property>
       </product>
    </extension>
</plugin>
